/*Forces the scrollbar to show even when it is not needed*/
/*this prevents the page shift when switching to non-scrollable pages*/
html {
overflow-y: scroll; 
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
}

/* Body*/
html, body{
height: 100%;
margin: 0px;
padding: 0px;
font-family: "DM Sans";
scroll-behavior: smooth;
}

/* Sidebar */
.sidebar{
height: 100%;
width: 15%;
padding: 0px;
position: fixed;
background-color: black;

font-weight: bold;
color: white;
}
.sidebar ul{
margin: 0px;
padding: 30px;

background-color: black;
list-style-type: none;
}
.navItem{
}
.sidebar a
{
padding: 2.5px 0px;
margin: 0px;
display: block;

text-decoration: none;
}
.sidebar a:link {
background-color: transparent;
color: white;
}
.sidebar a:visited {
background-color: transparent;
color: white;
}
.sidebar a:hover {
background-color: black;
color: #02fff8;
}
.sidebar a.active{
background-color: black;
color: #02fff8;
}

/* Content */
.content{
height: 100%;
margin-left: 15%;
}
.section{
height: 100%;
}
#home{
background-color: white;
  position: relative;
}
#skills{
background-color: #02fff8;
}
#portfolio{
background-color: black;
color: white;
}
#about-me{
background-color: #02fff8;
}
#contact{
background-color: white;
position: relative;
}

#navItemHome{}
#navItemSkills{}
#navItemPortfolio{}
#navItemAboutMe{}
#navItemContact{}

/* Home */
.homeContent div{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1{
  font-size: 5vw;
  margin: 0px;
}
h3{
  font-size: 2vw;
  margin: 0px;
}

/* Skills */
.column{
float: left;
width: 23.33%;
padding: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.skillContainer {
  width: 100%;
  background-color: white;
}
.skills {
  text-align: right;
  padding: 5px auto;
  color: white;
  background-color: black;
}
.unity {width: 100%;}
.cSharp {width: 100%;}
.gameMaker {width: 30%;}
.pico8 {width: 20%;}
.unreal {width: 20%;}
.html {width: 90%;}
.css {width: 90%;}
.javaScript {width: 60%;}
.photoshop {width: 100%;}
.krita {width: 100%;}
.illustrator {width: 60%;}
.indesign {width: 60%;}
.clipStudioPaint {width: 90%;}
.github {width: 85%;}

#skills h4{
 margin: 15px 0px;
}

/* Portfolio */
.sectionContent{
padding: 5%;
box-sizing: border-box;
height: 100%;
}
.projectTitle{
font-size: 35px;
text-align: center;
}
.slideshowContainer{
box-sizing: border-box;
height: calc(100% - 3.17em);
padding: 2.5% 0px;
}
.heroImage{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/profile.jfif');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heroText {
  text-align: left;
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
}
#portfolio h4{
margin: 0px;
}

/* About Me */
.columnLeft{
float: left;
width: 20%;
padding: 5%;
}
.columnRight{
float: left;
width: 60%;
padding: 5%;
}

/* Right column */
.contact{
margin: 0px;
padding: 20px;
background-color: #02fff8;
}
.contact h1{
margin: 0px;
padding: 0px;
text-align: center;
}
.contact ul{
margin: 5px;
padding: 0px;
list-style-type: none;
}
.contact li{
padding: 0px;
height: 25px;
}
.contact img{
height: 25px;
}
.contact h3{
margin-top: 20px;
}
.contact a:link{
color: black;
}
.contact a:visited{
color: black;
}
.contact a:hover{
color: black;
font-weight: bold;
}

/*---Footer---*/
footer{
background-color: black;
text-align: center;

position: absolute;
bottom: 0px;

width: 100%;
}

footer p{
margin: 0px;
padding: 10px;
font-size: 12px;
color: #f4f3ee;
}

/* On screens that are less than 700px wide */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    padding-left: 10px;
  }
  div.content {margin-left: 0;}
  h1{font-size: 9vw;}
  h3{font-size: 4vw; margin-left: 0px;}
  .column {width:100%;}
  .columnLeft {width:100%;}
  .columnRight {width:100%;}
}

/* On screens that are less than 400px */
@media screen and (max-width: 400px) {
  .sidebar a {
    padding-left: 0px;
    text-align: left;
    float: none;
  }
}

/* CSS HEX https://coolors.co/0a0a0a-02fff8-ffffff */
--rich-black-fogra-39: #0a0a0a;
--aqua: #02fff8;
--white: #ffffff;