/*Forces the scrollbar to show even when it is not needed*/
/*this prevents the page shift when switching to non-scrollable pages*/
html {
overflow-y: scroll; 
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
}

/* Body*/
html, body{
height: 100%;
margin: 0px;
padding: 0px;
font-family: "DM Sans";
scroll-behavior: smooth;
}

/* Sidebar */
.sidebar{
height: 100%;
width: 20%;
padding: 0px;
position: fixed;
background-color: black;

font-weight: bold;
color: white;
}
.sidebar ul{
margin: 0px;
padding: 30px;
background-color: black;
list-style-type: none;
}
.navItem{
}
.sidebar a
{
padding: 2.5px 0px;
margin: 0px;
display: block;

text-decoration: none;
}
.sidebar a:link {
background-color: transparent;
color: white;
}
.sidebar a:visited {
background-color: transparent;
color: white;
}
.sidebar a:hover {
background-color: black;
border-color: black;
color: #02fff8;
}
.sidebar a.active{
background-color: black;
border-color: black;
color: #02fff8;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    padding-left: 10px;
  }
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* Content */
.content{
height: 100%;
margin-left: 20%;
}

.section{
height: 100%;
}

#home{
background-color: white;
}

#skills{
background-color: #02fff8;
}

#portfolio{
background-color: black;
}

#about-me{
background-color: #02fff8;
}

#contact{
background-color: white;
}

/* Main */
.whiteBox{
background-color: white;
padding: 30px;
}
main
{
background-color: #f4f3ee;
border-color: #8a817c;
border-style: solid;
border-width: 1px;

padding-top: 70px;
padding-right: 100px;
padding-bottom: 70px;
padding-left: 100px;
}

h2, h3, h4, h5, h6
{
margin: 0px;
}

h2
{
background-color: #02fff8;
text-align: center;
}

/* Right column */
.contact{
margin: 0px;
padding: 20px;
background-color: #02fff8;
}
.contact h1{
margin: 0px;
padding: 0px;
text-align: center;
}
.contact ul{
margin: 5px;
padding: 0px;
list-style-type: none;
}
.contact li{
padding: 0px;
height: 25px;
}
.contact img{
height: 25px;
}
.contact h3{
margin-top: 20px;
}
.contact a:link{
color: black;
}
.contact a:visited{
color: black;
}
.contact a:hover{
color: black;
font-weight: bold;
}

/*---Footer---*/
footer{
background-color: black;
text-align: center;
}

footer p{
margin: 0px;
padding: 10px;
font-size: 12px;
color: #f4f3ee;
}

/* CSS HEX https://coolors.co/0a0a0a-02fff8-ffffff */
--rich-black-fogra-39: #0a0a0a;
--aqua: #02fff8;
--white: #ffffff;