/*Forces the scrollbar to show even when it is not needed*/
/*this prevents the page shift when switching to non-scrollable pages*/
html {
overflow-y: scroll; 
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
}

/* Body*/
body
{
margin: auto;
background-color: black;
font-family: "DM Sans";
}

/* Header */
div.header{
background-color: black;

/*border-bottom-style: solid;
border-width: 1px;*/

text-align: center;
color: white;
}
div.header h1{
margin: 0px;
padding: 40px;

font-size: 48px;
}

/* Navigation Bar */
div.nav{
padding: 5px;

background-color: black;

text-align: center;
font-weight: bold;
color: white;
}
div.nav ul{
margin: 0px;
padding: 0px;
}
div.nav li{
display: inline;
margin: 0px;
padding: 0px;
}
div.nav a
{
padding: 0px 20px;
margin: 0px;

text-decoration: none;
color: white;
font-size: 14px;
}
div.nav a:link {
background-color: transparent;
}
div.nav a:visited {
background-color: transparent;
}
div.nav a:hover {
background-color: transparent;
color: #02fff8;
}
div.nav a.active{
background-color: transparent;
color: #02fff8;
}

/* Home */
.home{
height: 100%;
display: flex;
flex-direction:column;
background-color:white;
}

.home .content{
height: 100%;

background-color: white;

color: black;
}

.absoluteCenter{
margin: 0;
position: absolute;
top: 46.5%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

/* Columns */
.column {
  float: left;
}
.column.small.left {
width: 20%;
background-color: #02fff8;
}
.column.big {
 width: 60%;
 background-color: white;
}
.column.small.right {
width: 19.85%;
margin-left: 0.15%;
background-color: #02fff8;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column.small.left, .column.big, .column.small.right{
    width: 100%;
  }
}

/* Sidebar */
div.sidebar ul{
margin: 30px;
padding: 0px;

list-style-type: none;
}
div.sidebar a
{
padding: 2.5px 10px;
margin: 0px;
display: block;

border-bottom-style: dashed;

text-decoration: none;
font-weight: bold;
color: black;
}
div.sidebar a:link {
background-color: transparent;
}
div.sidebar a:visited {
background-color: transparent;
}
div.sidebar a:hover {
background-color: black;
border-color: black;
color: white;
}
div.sidebar a.active{
background-color: black;
border-color: black;
color: white;
}

/* Main */
.whiteBox{
background-color: white;
padding: 30px;
}
main
{
background-color: #f4f3ee;
border-color: #8a817c;
border-style: solid;
border-width: 1px;

padding-top: 70px;
padding-right: 100px;
padding-bottom: 70px;
padding-left: 100px;
}

h2, h3, h4, h5, h6
{
margin: 0px;
}

h2
{
background-color: #02fff8;
text-align: center;
}

/* Right column */
.contact{
margin: 30px;
padding: 0px;
}

.contact h1{
text-align: center;
}

/*---Footer---*/
footer{
margin-top: 5px;
background-color: black;
border-top-style: solid;
border-width: 1px;
border-color: white;
text-align: center;
}

footer p{
margin: 0px;
padding: 10px;
font-size: 12px;
color: #f4f3ee;
}

/* CSS HEX https://coolors.co/0a0a0a-02fff8-ffffff */
--rich-black-fogra-39: #0a0a0aff;
--aqua: #02fff8ff;
--white: #ffffffff;