/*Forces the scrollbar to show even when it is not needed*/
/*this prevents the page shift when switching to non-scrollable pages*/
html {
  overflow-y: scroll; 
}

body
{
max-width: 800px;
margin: auto;
font-family: "DM Sans";
color: #463f3a;
background-color: #bcb8b1;
}

section
{
padding-bottom: 100px;
border-bottom-style: solid;
border-width: 1px;
border-color: #8a817c;
}

header
{
background-color: #463f3a;
text-align: center;
color: #f4f3ee;
font-family: "Candal";
padding: 20px;
}

/*---Navigation Bar---*/

nav
{
background-color: #8a817c;

padding: 10px;

text-align: center;
font-weight: bold;
color: #f4f3ee;
}

nav ul{
margin: 0px;
padding: 0px;
}

nav li{
display: inline;
margin: 0px;
padding: 0px;
}

nav a
{
padding: 10px 10px;
margin: 0px;

text-decoration: none;
color: #f4f3ee;
}

nav a:link {
background-color: transparent;
}

nav a:visited {
background-color: transparent;
}

nav a:hover {
color: #463f3a;
background-color: transparent;
}

nav a.active{
color: #463f3a;
background-color: transparent;
}


/*---Main Content---*/

main
{
background-color: #f4f3ee;
border-color: #8a817c;
border-style: solid;
border-width: 1px;

padding-top: 70px;
padding-right: 100px;
padding-bottom: 70px;
padding-left: 100px;
}

h2, h3, h4, h5, h6
{
font-family: "Candal";
margin: 5px;
}

h2
{
text-align: center;
}

h2
{
color: #6153cc;
}


/*---Footer---*/
footer{
background-color: #8a817c;

text-align: center;
}

footer p{
margin: 0px;
padding: 10px;
font-size: 12px;
color: #f4f3ee;
}

/* CSS HEX https://coolors.co/463f3a-8a817c-bcb8b1-f4f3ee-6153cc */
--dark-lava: #463f3a;
--middle-grey: #8a817c;
--pale-silver: #bcb8b1;
--alabaster: #f4f3ee;
--iris: #6153cc;